DAILY_API_KEY=256123 # https://www.daily.co/products/pipecat-cloud/
DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/langchat #(optional: for joining the bot to the same room repeatedly for local dev)
#DAILY_SAMPLE_ROOM_TOKEN=9c8... # (optional: if your room above requires a token)
OPENAI_API_KEY=sk-ant-123 # https://platform.openai.com/api-keys
ELEVENLABS_API_KEY=sk_123 # https://elevenlabs.io/app/settings/api-keys

# OpenTelemetry/Langfuse Configuration
ENABLE_TRACING=true

OTEL_EXPORTER_OTLP_ENDPOINT=https://cloud.langfuse.com/api/public/otel # you can also use the 🇺🇸 US data region
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20123 # https://langfuse.com/integrations/frameworks/pipecat#obtain-langfuse-api-keys
